Scraping/Scraping/__pycache__/settings.cpython-36.pyc
Scraping/Scraping/__pycache__/items.cpython-36.pyc
Scraping/Scraping/__pycache__/__init__.cpython-36.pyc
Scraping/Scraping/spiders/__pycache__/__init__.cpython-36.pyc
Scraping/Scraping/spiders/__pycache__/Scraping.cpython-36.pyc
