
/* Remove Hypertext from Card */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

.recipe-list{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.recipe-card{
  border-radius: 20px; 
  /* height: 100%; */
  /* border: 1px solid blue; */
}
.recipe-col{
  border-radius: 20px; 
  /* height: 100%; */
  /* border: 1px solid red; */
}

.container{
  border-radius: 20px;
  background-size: cover;
	/* border: 1px solid red; */
}
.container2{
  
  /* border: 1px solid red; */
  height: 100%;
}



.recipe-image{
  background-size: cover;
  width: 100%;
  /* height: auto; */
  border-radius: 20px;
}

.btnfav{
  background-color: white;
}

.btnremovefav{
  background-color: red;
}


@media screen and (min-width:992px) {
	.btn2 {
    font-size: min(calc(20px + .8vw), 2vw);
  }
}

@media screen and (max-width:992px) {
	.btn2 {
    font-size: max(calc(20px + .8vw), 2vw);
  }
}

.btn2 {
	position: absolute;
	top: 5%;
	left: 95%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  /* color: #e42d2d; */
  color: #ffae00;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	border:0;
  background:transparent;
  }

.collapsebutton{
  margin-top: 20px;
  justify-content: center;
  /* background-color: blueviolet; */
  align-content: center;
  text-align: center;
  /* border: 1px red; */
}


.ingList{
  margin-top: 20px;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}