.navbar{
  background: #2a2222;
}

.nav-item{
  font-size: large;
}

.brand-name h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
}

.brand-name span{
  color: #d31919;
}

.alert-error {
  padding: 12px;
  border-radius: 3px;
  font-size: 1.2rem;
  margin-bottom: 16px;
  border: 2px solid darkred;
  background-color: red;
  color: white;
}

.alert-info {
  padding: 12px;
  border-radius: 3px;
  font-size: 1.2rem;
  margin-bottom: 16px;
  border: 2px solid orange;
  background-color: yellow;
  color: black;
}
