.navbar{
  background: #2a2222;
}

.nav-item{
  font-size: large;
}

.brand-name h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
}

.brand-name span{
  color: #d31919;
}

.alert-div{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: -20px;
}

.alert{
  width: 100%;
  max-width: 500px;
  align-self: start;
}
