body {
	/* color: #999; */
	background: #f3f3f3;
	font-family: 'Roboto', sans-serif;
	/* border:1px solid orange; */
	
}
.form-control {
	border-color: #eee;
	vertical-align: auto;
	box-shadow: none !important;	
}
.form-control:focus {
	border-color: #e42d2d;
}
.form-control, .btn {        
	border-radius: 3px;
}
.search-form {
	min-width: 50%;
	max-width: 80%;
	margin: 0 auto;
	padding: 30px 0;
}
.search-form h2 {
	color: #333;
	margin: 0 0 30px 0;
	display: inline-block;
	padding: 0 30px 10px 0;
	border-bottom: 3px solid #e42d2d;
	/* border: 1px solid blue; */
}
.search-form {
	/* border: 1px solid pink;	 */
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	margin-top: 20px;
	min-width: 90%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-items: center; */
	
}
.search-form .form-group row {
	margin-bottom: 20px;
	/* text-align: center; */
	
}

.col-input{
	/* border: 1px solid purple; */
	flex-grow: 1;
	justify-content: center;
}

.input-div{
	/* border: 1px solid purple; */
	width: 100%;
	
	flex-direction: row;
	text-align: center;
	
	
	/* padding-left: 20%; */
}

.search-form label {
	/* border: 1px solid blue;	 */
	font-weight: normal;
	font-size: 16px;
	vertical-align: auto;
	text-align: right;
	
}
.search-form input[type="checkbox"] {
	position: relative;
	top: 1px;
}

.search-form .btn {        
	font-size: 18px;
	font-weight: bold;
	background: #e42d2d;
	border: none;
	min-width: 140px;
	transition: 0.5s;
	margin-top: 15px;
}
.search-form .btn:hover, .search-form .btn:focus {
	background: #b62424;
	outline: none !important;
}
.search-form a {
	color: #e42d2d;
	text-decoration: underline;
	
}
.search-form a:hover {
	text-decoration: none;
}
.search-form form a {
	color: #e42d2d;
	text-decoration: none;
}	
.search-form form a:hover {
	text-decoration: underline;
}

.container{
	position: relative;
	width: 100%;
	border: 1px solid red;
}


/* Style the button and place it in the middle of the container/image */
.card .btn2 {
	position: absolute;
	top: 5%;
	left: 95%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	/* color: #e42d2d; */
	color: #ffae00;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	border:0;
	display: none;
    background:transparent;
  }

.card:hover .btn2{
	display: inline-block;
	
}
.card:active .btn2{
	display: inline-block;
	
}