{% extends "base.html" %}
{% block title %} Favorites Page {% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/card-item.css') }}" rel="stylesheet">

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid recipes-container">
    {% for row in recipes|batch(3) %}
        <div class="row">
            {% for recipe in row %}
            <div class="col-lg-4">
                <a href="{{recipe.url}}">
                <div class="card recipe-card m-3">
                    <img class="card-igm-top recipe-image" src="{{ recipe.imgUrl }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ recipe.name }}</h4>
                        <h6 class="card-subtitle mb-3 text-muted">Por {{ recipe.author }}</h6>
                        <div class="row mb">
                            
                            <div class="col-sm-4">
                                <p class="card-text"> <i class="fas fa-clock"></i> {{ recipe.preptime }} minutos</p>
                            </div>
                            <div class="col-sm-4">
                                <p class="card-text"><i class="fas fa-pizza-slice"></i> {{ recipe.portions }} porções</p>
                            </div>
                            <div class="col-sm-4">   
                                <p class="card-text"> <i class="fa fa-heart" aria-hidden="true"></i> {{ recipe.likes }}</p>
                            </div>    
                        </div>
                    </div>
                    {% if current_user.is_authenticated %}
                    <a class="btn btn-outline-dark m-3 btnremovefav" id="favremove{{recipe.id}}">Remover Favoritos</a>
                    <script>
                        $("#favremove{{recipe.id}}").on('click',function(j){
                        $.ajax({
                            type: 'POST',
                            url:"{{url_for('favorites')}}",
                            data:{'recipe_id':'{{recipe.id}}',
                                'user_id': '{{ current_user.id }}'},
                            sucess:function(response){
                                console.log(reponse)
                            },
                            error:function(response){
                                console.log(reponse)
                            }
                            })
                        
                        });
                    </script>
                    {% endif %}
                </div>
                </a>
            </div> 
            {% endfor %}    
        </div>
    {% endfor %}
</div>
    
{% endblock %}

{% block scripts %}


{% endblock %}
