{% extends "base.html" %}
{% block title %} Favorites Page {% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/card-item.css') }}" rel="stylesheet">

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="{{ url_for('static', filename='css/search.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if recipes|length != 0 %}
<div class="container-fluid recipes-container" id="mydiv">
    <div class="row align-items-start recipe-row align-items-stretch">
        {% for row in recipes|batch(1) %}
            {% for recipe in row %}
            <div class="col-lg-4 col-md-6 recipe-col float-left d-flex align-items-stretch" id="recipe-col{{recipe.id}}">
                <a href="{{recipe.url}}" target="_blank">
                <div class="card recipe-card m-3" id="recipe-card{{recipe.id}}" >
                    <!-- <div class="container card-igm-top" style="background-image: url({{recipe.imgUrl}});"> -->
                    <!-- <div class="container card-igm-top" style="background: linear-gradient(to top right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url({{recipe.imgUrl}}) no-repeat;"> -->
                    <div class="container card-igm-top" style="background-image: linear-gradient(to top right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 85%),url({{recipe.imgUrl}});">
                        
                        <img class="card-igm-top recipe-image" src="{{ recipe.imgUrl }} " style="opacity: 0;">
                         
                        {% if current_user.is_authenticated %}   
                            <a class="fa fa-star btn2" style="color: #ffae00" id="starbt1{{recipe.id}}"></a>
                        {% endif %}
                    </div>
                        
                    <div class="card-body">
                        <h4 class="card-title">{{ recipe.name }}</h4>
                        <h6 class="card-subtitle mb-3 text-muted">Por {{ recipe.author }}</h6>
                        <div class="row mb">
                            
                            <div class="col-sm-4">
                                <p class="card-text"> <i class="fas fa-clock"></i> {{ recipe.preptime }} minutos</p>
                            </div>
                            <div class="col-sm-4">
                                <p class="card-text"><i class="fas fa-pizza-slice"></i> {{ recipe.portions }} porções</p>
                            </div>
                            <div class="col-sm-4">   
                                <p class="card-text"> <i class="fa fa-heart" aria-hidden="true"></i> {{ recipe.likes }}</p>
                            </div>    
                        </div>

                        <div class="collapse" id="Footer{{recipe.id}}">
                            <ul class="ingList" style="list-style-type:disc;">                  
                                {% set list = recipe.ingredients|replace('"', '')|replace(']', '')|replace('[', '')  %}
                                {% for item in list.split(',')%}
                                    <li>{{ item }}</li>
                                {% endfor %} 
                            </ul> 
                        </div>

                        <div class="row collapsebutton">
                            <div class="col-sm-4">   
                                <a class="btn fas fa-angle-double-down card-text" id="collapsebt{{recipe.id}}" type="button" data-toggle="collapse" data-target="#Footer{{recipe.id}}" aria-expanded="false" aria-controls="collapseExample">
                                    Ingredientes
                                </a>
                            </div>  
                        </div>

                        <script>
                            $("#collapsebt{{recipe.id}}").on('click',function(e){
                                if($("#collapsebt{{recipe.id}}").hasClass('fa-angle-double-down')){
                                    $("#collapsebt{{recipe.id}}").removeClass('fa-angle-double-down').addClass('fa-angle-double-up')
                                }else{
                                    $("#collapsebt{{recipe.id}}").removeClass('fa-angle-double-up').addClass('fa-angle-double-down')
                                }
                            });
                        </script>
        
                    </div>

                    {% if current_user.is_authenticated %}
                    
                    <script>
                        // $("#favb{{recipe.id}}").on('click',function(e){                   
                        $("#starbt1{{recipe.id}}").on('click',function(e){                   
                        $.ajax({
                            type: 'POST',
                            url:"{{url_for('favorites')}}",
                            data:{'recipe_id':'{{recipe.id}}',
                                'user_id': '{{ current_user.id }}'},
                            sucess:function(response){
                                alert('sucess');
                            },
                            error: function(xhr, status, error) {
                               alert(xhr.responseText);
                            }
                        });
                        // e.preventDefault()
                        });
                    </script>
                    {% endif %}
                </div>
                </a>
            </div>
            <script>
                $("#starbt1{{recipe.id}}").on('click',function(e){ 
                    $("#recipe-col{{recipe.id}}").fadeOut(500, function(){
                        $("#recipe-col{{recipe.id}}").remove();
                    });
                    
                });
            
            </script>
            {% endfor %}    
        {% endfor %}
    </div>
</div>
{% endif %}
    
{% endblock %}

{% block scripts %}


{% endblock %}
