{% extends "base.html" %}
{% block title %} Favorites Page {% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/card-item.css') }}" rel="stylesheet">

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="{{ url_for('static', filename='css/search.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if recipes|length != 0 %}
<div class="container-fluid recipes-container" id="mydiv">
    <div class="row align-items-start recipe-row align-items-stretch">
        {% for row in recipes|batch(1) %}
            {% for recipe in row %}
            <div class="col-lg-4 col-md-6 recipe-col float-left d-flex align-items-stretch" id="recipe-col{{recipe.id}}">
                <a href="{{recipe.url}}">
                <div class="card recipe-card m-3" id="recipe-card{{recipe.id}}" >
                    <!-- <div class="container card-igm-top" style="background-image: url({{recipe.imgUrl}});"> -->
                    <!-- <div class="container card-igm-top" style="background: linear-gradient(to top right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url({{recipe.imgUrl}}) no-repeat;"> -->
                    <div class="container card-igm-top" style="background-image: linear-gradient(to top right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 85%),url({{recipe.imgUrl}});">
                        
                        <img class="card-igm-top recipe-image" src="{{ recipe.imgUrl }} " style="opacity: 0;">
                         
                        {% if current_user.is_authenticated %}   
                            <a class="fa fa-star btn2" style="color: #ffae00" id="starbt1{{recipe.id}}"></a>
                        {% endif %}
                    </div>
                        


                    <div class="card-body">
                        <h4 class="card-title">{{ recipe.name }}</h4>
                        <h6 class="card-subtitle mb-3 text-muted">Por {{ recipe.author }}</h6>
                        <div class="row mb">
                            
                            <div class="col-sm-4">
                                <p class="card-text"> <i class="fas fa-clock"></i> {{ recipe.preptime }} minutos</p>
                            </div>
                            <div class="col-sm-4">
                                <p class="card-text"><i class="fas fa-pizza-slice"></i> {{ recipe.portions }} porções</p>
                            </div>
                            <div class="col-sm-4">   
                                <p class="card-text"> <i class="fa fa-heart" aria-hidden="true"></i> {{ recipe.likes }}</p>
                            </div>    
                        </div>
                    </div>
                    {% if current_user.is_authenticated %}
                    
                    <script>
                        // $("#favb{{recipe.id}}").on('click',function(e){                   
                        $("#starbt1{{recipe.id}}").on('click',function(e){                   
                        $.ajax({
                            type: 'POST',
                            url:"{{url_for('favorites')}}",
                            data:{'recipe_id':'{{recipe.id}}',
                                'user_id': '{{ current_user.id }}'},
                            sucess:function(response){
                                alert('sucess');
                            },
                            error: function(xhr, status, error) {
                               alert(xhr.responseText);
                            }
                        }).then(function(e){
                            // if($("#favb{{recipe.id}}").css("background-color").toString()=="rgb(255, 255, 255)"){
                            if($("#starbt1{{recipe.id}}").hasClass('far')){
                                $("#favb{{recipe.id}}").css('background-color', '#e42d2d').text('Remover dos Favoritos').css('color', '#ffffff')
                                // $("#starbt1{{recipe.id}}").hide()
                                // $("#starbt2{{recipe.id}}").show()
                                $("#starbt1{{recipe.id}}").removeClass('far').addClass('fa').css('color', '#ffae00')
                            }
                            // if($("#favb{{recipe.id}}").css("background-color").toString()=="rgb(228, 45, 45)"){
                            else if($("#starbt1{{recipe.id}}").hasClass('fa')){
                                $("#favb{{recipe.id}}").css('background-color', 'white').text('Adicionar aos Favoritos').css('color', '#777')
                                // $("#recipe-card{{recipe.id}}").css('display', 'none')
                                // $("#starbt1{{recipe.id}}").show()
                                $("#starbt1{{recipe.id}}").removeClass('fa').addClass('far').css('color', '#ffae00')
                            }
                            $( "#here" ).load(location.href + " #here" );
                            
                        })
                        // e.preventDefault()
                        });
                    </script>
                    {% endif %}
                </div>
                </a>
            </div>
            <script>
                $("#starbt1{{recipe.id}}").on('click',function(e){ 
                    $("#recipe-col{{recipe.id}}").remove()
                });
            </script>
            {% endfor %}    
        {% endfor %}
    </div>
</div>
{% endif %}
    
{% endblock %}

{% block scripts %}


{% endblock %}
