{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}
<div class="recipe-item">
    <h4>Nome da receita</h4>
    <img src="https://img.itdg.com.br/tdg/images/recipes/000/171/883/348932/348932_original.jpg?mode=crop&width=710&height=400" class="recipe_image" alt="">
    
</div>
<ol>
    <li>Coffee</li>
    <li style="list-style-type:lower-alpha">Tea</li>
    <li>Milk</li>
  </ol>
  
  <ul>
    <li>Coffee</li>
    <li style="list-style-type:square">Tea</li>
    <li>Milk</li>
  </ul>
</ol> 
{% endblock %}