{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/card-item.css') }}" rel="stylesheet">

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="{{ url_for('static', filename='css/tagsinput.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/search.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/pagination.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="search-form">
    <form action="#" method="post" class="form-horizontal">
          <div class="row">
            <div class="col-8 offset-3">
                <h2>Procure receitas pelos seus ingredientes!</h2>
            </div>	
          </div>			
        <div class="container input-div">
            
            <label class="col-form-label">Ingredientes</label>
            <form action="#" method="POST">
                <input class="form-control" type="text" name="ingredient" data-role="tagsinput" id="tagsInput" />
            </form>
                
            <div class="btn-div">
                <button type="submit" value='Submit' class="btn btn-primary btn-lg">Procurar</button>
            </div>
            
        </div>
    </form>
</div>

<div class="container-fluid recipes-container" id="mydiv">
    <div class="row d-flex align-items-stretch">
        {% for recipe in recipes[(actual_page-1)*20:(actual_page)*20] %}
            
            <div class="col-lg-4 col-md-6 recipe-col d-flex">
                <a href="{{recipe.url}}" target="_blank">
                <div class="card recipe-card m-3 recipe-card{{recipe.id}}" >
                    <!-- <div class="container card-igm-top" style="background-image: url({{recipe.imgUrl}});"> -->
                    <!-- <div class="container card-igm-top" style="background: linear-gradient(to top right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url({{recipe.imgUrl}}) no-repeat;"> -->
                    {% if current_user.is_authenticated %}
                    <div class="container card-igm-top" style="background-image: linear-gradient(to top right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 85%),url({{recipe.imgUrl}});">
                        
                        <img class="card-igm-top recipe-image" src="{{ recipe.imgUrl }} " style="opacity: 0;">
                         
                        {% if current_user.is_authenticated %}
                        {% if recipe.id in favorites|map(attribute="recipe_id")%}
                        <a class="fa fa-star btn2" style="color: #ffae00" id="starbt1{{recipe.id}}"></a>
                        {% else %}
                        <a class="far fa-star btn2" style="color: #ffae00" id="starbt1{{recipe.id}}"></a>
                        {% endif %}
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="card-igm-top">
                        <img class="card-igm-top recipe-image" src="{{ recipe.imgUrl }} ">                
                        <a class="fa fa-star btn2" style="color: #ffae00; opacity: 0;" id="starbt1{{recipe.id}}"></a>
                    </div>

                    {% endif %}
                        
                    <div class="card-body">
                        <h4 class="card-title">{{ recipe.name }}</h4>
                        <h6 class="card-subtitle mb-3 text-muted">Por {{ recipe.author }}</h6>
                        <div class="row mb">
                            
                            <div class="col-sm-4">
                                <p class="card-text"> <i class="fas fa-clock"></i> {{ recipe.preptime }} minutos</p>
                            </div>
                            <div class="col-sm-4">
                                <p class="card-text"><i class="fas fa-pizza-slice"></i> {{ recipe.portions }} porções</p>
                            </div>
                            <div class="col-sm-4">   
                                <p class="card-text"> <i class="fa fa-heart" aria-hidden="true"></i> {{ recipe.likes }}</p>
                            </div>    
                        </div>

                        <div class="collapse" id="Footer{{recipe.id}}">
                            <ul class="ingList" style="list-style-type:disc;">                  
                                {% set list = recipe.ingredients|replace('"', '')|replace(']', '')|replace('[', '')  %}
                                {% for item in list.split(',')%}
                                    <li>{{ item }}</li>
                                {% endfor %} 
                            </ul> 
                        </div>

                        <div class="row collapsebutton">
                            <div class="col-sm-4">   
                                <a class="btn fas fa-angle-double-down card-text" id="collapsebt{{recipe.id}}" type="button" data-toggle="collapse" data-target="#Footer{{recipe.id}}" aria-expanded="false" aria-controls="collapseExample">
                                    Ingredientes
                                </a>
                            </div>  
                        </div>

                        <script>
                            $("#collapsebt{{recipe.id}}").on('click',function(e){
                                if($("#collapsebt{{recipe.id}}").hasClass('fa-angle-double-down')){
                                    $("#collapsebt{{recipe.id}}").removeClass('fa-angle-double-down').addClass('fa-angle-double-up')
                                }else{
                                    $("#collapsebt{{recipe.id}}").removeClass('fa-angle-double-up').addClass('fa-angle-double-down')
                                }
                            });
                        </script>

                    </div>
                    {% if current_user.is_authenticated %}
                    
                    <script>                 
                        $("#starbt1{{recipe.id}}").on('click',function(e){                   
                        $.ajax({
                            type: 'POST',
                            url:"{{url_for('favorites')}}",
                            data:{'recipe_id':'{{recipe.id}}',
                                'user_id': '{{ current_user.id }}'},
                            sucess:function(response){
                                alert('sucess');
                            },
                            error: function(xhr, status, error) {
                               alert(xhr.responseText);
                            }
                        }).then(function(e){
                            
                            if($("#starbt1{{recipe.id}}").hasClass('far')){
                                $("#favb{{recipe.id}}").css('background-color', '#e42d2d').text('Remover dos Favoritos').css('color', '#ffffff')
                                $("#starbt1{{recipe.id}}").removeClass('far').addClass('fa').css('color', '#ffae00')
                            }
                            else if($("#starbt1{{recipe.id}}").hasClass('fa')){
                                $("#favb{{recipe.id}}").css('background-color', 'white').text('Adicionar aos Favoritos').css('color', '#777')
                                $("#starbt1{{recipe.id}}").removeClass('fa').addClass('far').css('color', '#ffae00')
                            }
                            $( "#here" ).load(location.href + " #here" );
                            
                        })
                        // e.preventDefault()
                        });
                    </script>
                    {% endif %}
                </div>
                </a>
            </div> 
                
        {% endfor %}
    </div>
    
</div>

<div class="container_pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if actual_page == 1 %}
                <li class="page-item disabled"><a class="page-link" method="GET" href="{{url_for('search', page=actual_page-1)}}">Anterior</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" method="GET" href="{{url_for('search', page=actual_page-1)}}">Anterior</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" method="GET" href="{{url_for('search', page=actual_page+1)}}">{{actual_page+1}}</a></li>
            <li class="page-item"><a class="page-link" method="GET" href="{{url_for('search', page=actual_page+2)}}">{{actual_page+2}}</a></li>
            <li class="page-item"><a class="page-link" method="GET" href="{{url_for('search', page=actual_page+3)}}">{{actual_page+3}}</a></li>
            <li class="page-item"><a class="page-link" method="GET" href="{{url_for('search', page=actual_page+1)}}">Próxima</a></li>
            <li class="page-item"><a class="page-link" method="GET" href="{{url_for('search', page=max_page)}}">Última</a></li>
        </ul>
    </nav>
</div>

{% for tag in tags %}
<meta class="tagsData" data-name="{{tag}}">
{% endfor %}
    
{% endblock %}

{% block scripts %}
    
<script>
    $('.form-control').ready(function(e) {
        $('.tagsData').each(function(index, element){
            if(element.getAttribute('data-name')!='')
                // alert(element.getAttribute('data-name'))
                $('#tagsInput').tagsinput('add', element.getAttribute('data-name'));
        });
    });
</script>
   

{% endblock %}
