{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/card-item.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/tagsinput.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/search.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if recipes|length == 0 %}

    <div class="search-form">
        <form action="#" method="post" class="form-horizontal">
              <div class="row">
                <div class="col-8 offset-3">
                    <h2>Procure receitas pelos seus ingredientes!</h2>
                </div>	
              </div>			
            <div class=" input-div d-inline-flex justify-content-center">
                <div class=" col-input">
                    <label class="col-form-label">Ingredientes</label>
                    <form action="#" method="POST">
                        <input class="form-control" type="text" name="ingredient" data-role="tagsinput" />
                    </form>
                    <div class="btn-div">
                        <button type="submit" value='Submit' class="btn btn-primary btn-lg">Procurar</button>
                    </div>
                </div>        	
            </div>
            
            <!-- <div class="form-group row">
                <div class="col-8 offset-4">
                    <p><label class="form-check-label"><input type="checkbox"> Lembrar de mim?</label></p>
                    <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
                    
                </div>  
            </div>		       -->
        </form>
    </div>

    {% else %}
    <div class="container-fluid recipes-container">
        {% for row in recipes|batch(3) %}
            <div class="row">
                {% for recipe in row %}
                <div class="col-lg-4">
                    <div class="card recipe-card m-3">
                        <img class="card-igm-top recipe-image" src="{{ recipe.imgUrl }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ recipe.name }}</h4>
                            <h6 class="card-subtitle mb-3 text-muted">Por {{ recipe.author }}</h6>
                            <div class="row mb">
                                
                                <div class="col-sm-4">
                                    <p class="card-text"> <i class="fas fa-clock"></i> {{ recipe.preptime }} minutos</p>
                                </div>
                                <div class="col-sm-4">
                                    <p class="card-text"><i class="fas fa-pizza-slice"></i> {{ recipe.portions }} porções</p>
                                </div>
                                <div class="col-sm-4">   
                                    <p class="card-text"> <i class="fa fa-heart" aria-hidden="true"></i> {{ recipe.likes }}</p>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div> 
                {% endfor %}    
            </div>
        {% endfor %}
    </div>
       

    {% endif %}
{% endblock %}
{% block scripts %}

{% endblock %}